
<!DOCTYPE html>
<html>
<head>
    <title>ToDo App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'todoApp/style.css' %}">
</head>
<body>
    <h1>ToDo Lists</h1>
    <ul>
        {% for todo_list in lists %}
            <li>{{ todo_list.title }} - <a href="{% url 'todo_app:add_task' todo_list.id %}">Add Task</a></li>
            <ul>
                {% for task in todo_list.todo_set.all %}
                    <li{% if task.completed %} class="completed"{% endif %}>{{ task.task }} - <a href="{% url 'todo_app:complete_task' task.id %}">Complete</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
    <a href="{% url 'todo_app:add_list' %}">Add List</a>
</body>
</html>
